extends layout

block content
  h1= title
  a(href='/lists/add') Add new list
  ul
    each val in lists
      li
        p
          a(href='/lists/#{val}/todo') #{val} 
          //- a(href='javascript: $.post("/lists/remove", {listName: "#{val}"})') (x)